@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "poppins" , serif;
}

body{
    background-color: #9e46afe1;
}

header{
    display:flex;
    justify-content: space-between;
    align-self: center;
    margin: 2rem auto;
    padding:0 0.5rem;
    max-width: 1200px;
}

header img{
    width: 300px;
    height: 40px;
    object-fit: contain;
}

.navigation ul{
       display: flex;
       list-style-type: none;
       gap:2rem ;
}
/*coment in css*/
.navigation a{
   text-decoration: none;
    color:#eeeeee;
}

.navigation a:hover{
    color:aqua;
}

hr{
    opacity: 1;
}

.Hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}


.heroimg{
max-width: 60%;
height: auto;
}



.arrow{
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
  
}

.heroSub{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name{
    font-size: 3rem;
    color:#eeeeee;
}

.title{
    font-size: 4rem;
    color:rgb(225, 174, 7);
}

.heroBtns{
    display:flex;
    gap:1rem;
    margin-top: 1.5rem;
}

.hireMe{
    background-color: rgb(163, 111, 163);
    color:#eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding:0.5rem 1.5rem;
    text-shadow: 0px 4px 4px black;
}

.cv{
    background-color: rgb(62, 60, 62);
    color: #eeeeee;
    border-radius: 24px;
    text-decoration: none;
    padding:0.5rem 1.5rem;
    text-shadow: 0px 4px 4px black;
    display: flex;
    align-items: center;
    gap:0.5rem;
    backdrop-filter: blur(4px);

}

.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 5rem;
  
}
.aboutMeImage{
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.textContainer{
    display: flex;
    flex-direction: column;
}

.textTitle{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.aboutName{
    color:#eeeeee;
}

.aboutTitle{
    color: rgb(225, 174, 7);
}

.aboutMepar{
    text-align: justify;
    color:#f0f0f0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  
}

.works{      /*في css تستخدمين سلاش ثاني عشان نضيف صورة/*/
   /* background-image: url("C:/Users/Basha/OneDrive/سطح المكتب/tutorial website/assets/imgs/yelnew.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;*/
    padding:10rem 10rem;
    margin: 5rem 0rem;
}

.worksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
}

.projectTitle{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.works ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;

}

.works li{
    border-radius: 16px;
   /* background-color: rgb(232, 227, 230);*/
    /*backdrop-filter: blur(2px);*/
    padding: 1rem 4rem;

}

.works img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transform: transform 0.2s;
}

.works li:hover{
    transform: scale(1.5);
}

.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:2rem ;
    margin:2rem auto;
    max-width: 1200px;

}

.contactTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap:20rem;
}


.contact h3, .contact a{
    color:#eeeeee;
    text-decoration: none;
}

.emailAndphone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.socialmedia a {
        display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(45, 44, 44);
    backdrop-filter: blur(4px);
    padding: 1rem;
}

.socialmedia img{
    width: 24px;
    height: 24px;
}

footer{
    color: #eeeeee;
    padding: 2rem;
    text-align: center;
}


@media(max-width: 1023px){
header{
    margin-left: 1rem;
    margin-right: 1rem;
}

.Hero{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.heroimg{
width: 400px;
}

.name,.title{
    font-size: 2rem;
}

.arrow{
    display: none;
}

.aboutMe{
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
}

.textContainer{
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
}

.aboutName ,.aboutTitle{
    font-size: 2rem;
}

.light{
    width: 60px;
}

.aboutMeImage{
    width: 400px;
}

.works{
    padding: 0;
}

.worksContainer{
    padding:5rem 0rem;
    gap:3rem;
}

.projectTitle{
    margin-left: 1rem;
}

.works ul{
flex-direction: column;
gap: 1rem;
}

.contactContainer{
    margin: 10rem 5rem;
    gap:2rem;
}
.contact{
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
}



}